<h3>@ViewData["Message"]</h3>
<p>@ViewData["Email"]</p>

<address>
    Rua Campos do Jordão - <br />
    SP<br />
    <abbr title="Phone">Telefone :</abbr>
    997212541
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
